venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.vscode/

data/crops/
data/recordings/

database/*.sqlite

employees_embeddings.json

*.mp4
*.avi

*.log

node_modules/

frontend/node_modules/

build/
dist/