# Python technical files
__pycache__/
*.py[cod]
*$py.class
venv/
.env
build/
dist/
*.egg-info/

# Project Specific (Data & Models)
data/recordings/*
!data/recordings/.gitkeep
facerecog/database/vision_db.sqlite
*.pt
*.mp4
*.sqlite
employees_data/
data/crops/
employees_embeddings.json
# VS Code
.vscode/
models/*.h5
models/*.pt
frontend/node_modules/
frontend/dist/